@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


/* Anchor */

.anchor_container{
    padding-right: 20%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 100%;
    justify-content: flex-end;
}

.anchor_container p{
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #294A70;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    
}

.anchor_container p:hover{
    background-color: #3385ff;
    border-color: #3385ff;
    fill: #06f;
}

/* Image Header*/

.image_header img{
    width: 1920px; 
    height: 260px;
    object-fit: cover;
    box-shadow: 5px 5px 5px  rgb(209, 209, 209);
    filter: grayscale(50%);
}

/* Reserve Button */
.btn_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 130.43px;
    left: 50%;
    top: 270px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* button trial */

.button {
  display: flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #008168;
}

.button:active {
  background: #006e58;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}


/* CSS */
.button-58 {
  align-items: center;
  background-color: #294A70;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 80px;
  justify-content: center;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-58:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}


@media (min-width: 768px) {
  .button-58 {
    min-width: 170px;
  }
}

/* Table */

/* table style */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* table header */
.styled-table thead tr {
    background-color: black;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}