@import './var&mixins.scss';
*{
    z-index: 0;
}
.content-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;

    p{
        font-size: 30px;
    }
}

.banner{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.458);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;

    p{
        font-size: 50px;
        font-weight: 700;
        color: $color-white;
        text-shadow: 1px 1px 10px rgba(77, 77, 77, 0.579);
    }
    .louisian{
        font-size: 63px;
        margin-top: -20px;
        color: $color-yellow;
    }
}

.main-cont{
    margin-top: -70px;
    margin-left: -50px;
    width: 100%;
    justify-content: end;
    display: flex;
    .mainbtn{
        justify-content: center;
        align-items: center;
        display: flex;
        height: 60px;
        width: 300px;
        gap: 0 10px;
        border-radius: 100px;
        background-color: $color-blue;
        
        p{
            color: $color-white;
            font-size: 19px;
            font-weight: 600;
        }
        svg{
            fill: $color-white;
            width: 30px;
        }

        &:hover{
            background-color: $color-yellow;
            cursor: pointer;
        }
    }
}

.circles{
    display: flex;
    justify-content: center;
    gap: 0 10px;
    margin-top: 20px;

    .circle{
        padding: 7px;
        border-radius: 100px;
        background-color: $color-blue;
    }
    #active{
        background-color: $color-yellow;
    }
}

.requests{
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.305);
    margin-top: 50px;

    width: 100%;
    background-color: $color-white;

    .request-title{
        background-color: #699BF7;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px;
        padding-left: 50px;

        p{
            color: #fff;
        }
    }

}


.lvl2{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    .nameCard{
        border-radius: 20px;
        height: 350px;
        width: 750px;
        margin-left: 25px;
        margin-bottom: 25px;
        background-color: $color-white;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.305);
    }
    .yourReqs{
        border-radius: 20px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.305);
        background-color: $color-white;
        min-height: 500px;
        width: 600px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .main-cont{
        
        margin-left: -2vw;
        margin-left: 0px;
        margin-top: -75px;
        justify-content: center;
        .mainbtn{
            height: 8vw;
            width: 40vw;

            p{
                font-size: 2vw;
            }
            svg{
                width: 3.5vw;
            }
        }
    }

    .circles{
        gap: 1vw;
        margin-top: 30px;

        .circle{
            padding: .9vw;
        }
    }

    .banner{
    
        p{
            font-size: 7vw;
        }
        .louisian{
            font-size: 8vw;
        }
    }

}

// table scss
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
	box-sizing:border-box;
}

body {
	padding:$base-spacing-unit;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.table-container {
	display:flex;
	justify-content:center;
	align-items:center;
    flex-direction: column;
    padding: 50px;
}

.table {
	width:100%;
	border:1px solid $color-form-highlight;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-header {
	display:flex;
	width:100%;
	background:#484848;
	padding:($half-spacing-unit * 1.5) 0;
}

.table-row {
	display:flex;
	width:100%;
	padding:($half-spacing-unit * 1.5) 0;

}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item a{
	text-transform:uppercase;
    color: #fff;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;
	
}

// button design
/* CSS */
.button {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-top: 20px;
  }
  
  .button:hover,
  .button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

//   contact css

.yourReqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.contact {
	background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	display: flex;
	margin: 5px;
	overflow: hidden;
	width: 500px;
    align-items: center;
    background-color: #D9D9D9;

    .contact-icon {
        background-color: #fff;
        padding: 30px;
        font-size: 30px;
        height: 115px;
        
        i{
            color: #699BF7;
        }
    }

    .contact-info {
        padding: 30px;
        position: relative;
        width: 100%;
    }
}

// faq css

.nameCard{
    overflow: hidden;
    .faq-header{
        background-color: #699BF7;
        display: flex;
        justify-content: center;
        padding: 20px;
        
        span{
            color: #FFAB1F;
            font-size: 30px;
            font-weight: bold;
            text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        p{
            color: #fff;
            font-size: 30px;
        }
    }

    .faq-content{
        padding: 60px;
        p{
            font-size: 20px;
        }
    }
}

.FAQS-button{
    background-color: #294A70;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 100px;
    margin-left: 25px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.305);
    
    p,i{
        font-size: 20px;
        color: #fff;
        display: flex;
    }
    i{
        margin-left: 10px;
    }
}


  

// some responsiveness
@media only screen and (max-width: 700px) {
    .content-container{
        width: 90%;
        padding: 5vw 0;
    }

    .lvl2{
        width: 100%;

        .nameCard{
            margin-top: 8vw;
            width: 100%;
        }
        .yourReqs{  
            margin-top: 8vw;
        }
    }
}