.main-reg{

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    .reg-container{
        margin-bottom: 70px;
        border-radius: 2em;
        height: 95%;
        width: 70vw;
        background-color: white;
        padding-bottom: 3%;
    
        .reg-wrap{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
    
            .reg-branding{
                margin-top: 30px;
                margin-bottom: 20px;
                text-align: center;
                
                h1{
                    font-weight: 700;
                }
            }
        }
    }
}
.logo{
    margin: 30px 0 0 30px;
    display: flex;
    img{
        width: 85px;
        position: fixed;
    }
}





.reg-inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    

    label{
        margin:0 0 10px 12px;
    }

    input, select{
        border: 0px solid;
        border:  2px rgba(34, 34, 34, 0.308) solid;
        border-radius: 100px;
        padding: 15px 30px;
        color: rgba(34, 34, 34, 0.596);
        font-size: 14px; 
        width: 27vw;
    }
    #idnum{
        width: 55vw;
    }
}
#role{
    border: 0px solid;
    border:  2px rgba(34, 34, 34, 0.308) solid;
    border-radius: 100px;
    padding: 15px 30px;
    color: rgba(34, 34, 34, 0.596);
    font-size: 14px; 
    background-color: #fff;
    justify-content: center;
    align-items: center;
}


.reg-button{
    background-color: #294A70;
    color: white;
    border-radius: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: none;

    &:hover{
        background-color: #E4A951;
        cursor: pointer;
    }
}

.reg-select{
    display: flex;
    flex-direction: row;
    select{
        margin-right: 10px;
    }
}

.error{
    color: red;
    font-style: italic;
    font-size: 15px;
    padding-left: 10px;
}
.form-error{
    text-align: center;
    color: red;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: antiquewhite;
}

.reg-inputs-divider{
    display: grid;
    grid-template-columns: 1fr 1fr;
}